<html>
	<head>
		<title>Christina's blog</title>
	</head>

	<body>
		<div>
			<h1>Welcome to my make-shift blog</h1>
			<h2>Created for my attempts at basic programming</h2>
			<br />	
    		<p>Hi there! If you're seeing this then you're probably in the wrong place, but it does work!</p>
    		<p> Here I've been experimenting with:</p>
    		<ul><li>The Python and Django</li><li>Deploying sites</li><li>HTML templates</li><li>CSS</li>
    	</div>
    	{% for post in posts %}
  			<div>
        		<p>published: {{ post.published_date }}</p>
        		<h1><a href="">{{ post.title }}</a></h1>
        		<p>{{ post.text|linebreaks }}</p>
    		</div>
		{% endfor %}
    </body>
</html>