<html>
	<head>
		<title>Christina's blog</title>
	</head>

	<body>
		<div>
			<h1>Welcome to my make-shift blog</h1>
			<h2>Created for my attempts at basic programming</h2>
			<br />	
    		<p>Hi there! If you're seeing this then you're probably in the wrong place, but it does work!</p>
    		<p> Here I've been experimenting with:</p>
    		<ul><li>The Python and Django</li><li>Deploying sites</li><li>HTML templates</li><li>CSS</li>
    	</div>
    	<div>
    		<h3><a href="">My first post</a></h3>
    		<p>Take a read of my very first blog on my very first website build</p>
    		<p>Published: 23rd April 2016</p>
    	</div>
    	<div>
    		<h3><a href="">My second post</a></h3>
    		<p>Take a read of the progress on my very first website build</p>
    		<p>Published: 23rd April 2016</p>
    	</div>
    </body>
</html>