{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<title>Christina's blog</title>
	</head>

	<body>
		<div class="page-header">
			<h1>Welcome to my make-shift blog</h1>
			<h2>Created for my attempts at basic programming</h2>
			<br />	
    		<p>Hi there! If you're seeing this then you're probably in the wrong place, but it does work!</p>
    		<p> Here I've been experimenting with:</p>
    		<ul><li>The Python and Django</li><li>Deploying sites</li><li>HTML templates</li><li>CSS</li>
    	</div>
    	<div class="content container">
   			<div class="row">
        	<div class="col-md-8">
            {% for post in posts %}
  			<div class="post">
        		<p>published: {{ post.published_date }}</p>
        		<h1><a href="">{{ post.title }}</a></h1>
        		<p>{{ post.text|linebreaks }}</p>
    		</div>
		{% endfor %}
    </body>
</html>